<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="@ViewData["Title"]">
    <meta name="description" content="@ViewData["Description"]">
    <title>Chaos Initiative - @ViewData["Title"]</title>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boosted@4.5.2/dist/css/orangeIcons.min.css" integrity="sha384-R6GN9ea/4pryAfJqIKDPT52rqJuxaMkZndUr7tl6YQmESyczsGyDgIbpuXvebpF5" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/3c465cbf36.js" crossorigin="anonymous"></script>

    <!-- Our own compiled boosted version -->
    <link rel="stylesheet" href="~/css/boosted_chaos.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap" rel="stylesheet">

    <!-- Our styles -->
    <link rel="stylesheet" href="~/css/chaos.css">
    <link rel="shortcut icon" href="~/img/chaos_logo_square.png" type="image/x-icon">

    <script src="https://cdn.jsdelivr.net/npm/what-input@5.2.10/dist/what-input.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/boosted@4.5.3/dist/js/boosted.bundle.min.js" integrity="sha384-hQFBUEXKv1tPjGNFpCctXthNheXFWEyT+cKHsR5+8VYwGoe2L0SIaDNXDpE1LlTK" crossorigin="anonymous"></script>


</head>
<body>

<div class="h-100 d-flex flex-column">

    <div class="bg-dark sticky-top">
        <div class="container">

            <header role="banner">
                <nav role="navigation" class="navbar navbar-dark navbar-expand-md">
                    <div class="container">
                        <a class="navbar-brand" href="/">
                            <img src="~/img/chaos_logo_square.png" alt="Back to homepage" title="Back to homepage" loading="lazy">
                        </a>
                        <button class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapsing-navbar"
                                aria-controls="navbarToggle"
                                aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse justify-content-between collapse" id="collapsing-navbar">
                            <ul class="navbar-nav">
                                @{
                                    Dictionary<string, string> navbar = NavbarHomePage.GetNavbar();
                                    string requestPath = Context.Request.Path.ToString();
                                    foreach (KeyValuePair<string, string> pair in navbar)
                                    {
                                        if (requestPath == pair.Key)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page" href="@pair.Key">@pair.Value</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link" href="@pair.Key">@pair.Value</a>
                                            </li>
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

        </div>
    </div>


    <div class="flex-grow-1">
    
        <div class="h-100 d-flex flex-column">

            <div class="flex-grow-1">
                @RenderBody()
            </div>

            <div class="justify-content-center">

                <div class="bg-dark">
                    <footer class="container">
                        <div class="row">
                            <div class="col col-md text-center">
                                <a href="@Constants.LINK_DISCORD_CHAOS"><i class="fab fa-discord"></i>Discord</a>
                            </div>
                            <div class="col col-md text-center">

                            </div>
                            <div class="col col-md text-center">
                                <a href="/privacy"><i class="fas fa-shield-alt"></i>Privacy</a>
                            </div>
                        </div>
                    </footer>
                </div>

            </div>

        </div>
    
    </div>

</div>

</body>
</html>