@model Mod

<section>
            
    <div class="row">
        <div class="col col-auto">
            <img src="~/img/mod/@Model.Name/logo.png" alt="Image"/> <!-- 360x240 -->
        </div>
        <div class="col">
            <h1>@Model.DisplayName</h1>
            <p>
                <i class="fas fa-users"></i>
                @{
                    foreach (ModDeveloper dev in Model.Developers)
                    {
                        if (String.IsNullOrWhiteSpace(dev.Link))
                        {
                            <span>@dev.Name</span>
                        }
                        else
                        {
                            <a href="@dev.Link">@dev.Name</a>
                        }
                    }
                }
            </p>
            <p>
                <i class="fas fa-heart"></i>
                @{
                    foreach (KeyValuePair<string, string> link in Model.Links)
                    {
                        <a href="@link.Value">@link.Key</a>
                    }
                }
            </p>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
            
    <div class="row pt-2">
                
        <div class="col-4">
            <img src="~/img/mod/@Model.Name/screenshot0.jpg" alt="Image" width="100%"/> <!-- 1600x1200 -->
        </div>
        <div class="col-4">
            <img src="~/img/mod/@Model.Name/screenshot1.jpg" alt="Image" width="100%"/>
        </div>
        <div class="col-4">
            <img src="~/img/mod/@Model.Name/screenshot2.jpg" alt="Image" width="100%"/>
        </div>
                
    </div>
            
            
</section>