@model Mod

<section>
    <div class="row">
        <div class="col col-auto">
            <!-- Mod logo must be 360x240 -->
            <img src="~/img/mod/@Model.Name/logo.png" alt="Image"/>
        </div>
        <div class="col">
            <h1>@Model.DisplayName</h1>
            <p>
                <i class="fas fa-users"></i>
                @{
                    foreach (var dev in Model.Developers)
                    {
                        if (string.IsNullOrWhiteSpace(dev.Link))
                        {
                            <span>@dev.Name</span>
                        }
                        else
                        {
                            <a href="@dev.Link">@dev.Name</a>
                        }
                    }
                }
            </p>
            <p>
                <i class="fas fa-heart"></i>
                @{
                    foreach (var (text, uri) in Model.Links)
                    {
                        <a href="@uri">@text</a>
                    }
                }
            </p>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
            
    <div class="row pt-2">
        <!-- Images must be 1600x1200 -->
        <div class="col-4">
            <img src="~/img/mod/@Model.Name/screenshot0.jpg" alt="Image" width="100%" />
        </div>
        <div class="col-4">
            <img src="~/img/mod/@Model.Name/screenshot1.jpg" alt="Image" width="100%" />
        </div>
        <div class="col-4">
            <img src="~/img/mod/@Model.Name/screenshot2.jpg" alt="Image" width="100%" />
        </div>
    </div>
</section>