@page
@model ChaosInitiative.Web.P2CE.Pages.FaqModel
@{
    ViewData["Title"] = "FAQ";
}

    
<section class="bg-p2ce bg-p2ce-muted">
    <div class="container">
        <h1>Frequently asked Questions</h1>
        <p>Your question might already be answered here. If not, feel free to ask!</p>
        
        <div>
            <ol class="smooth-scroll">
                @foreach (var faq in Model.faqs)
                {
                    <li>
                        <a href="#@faq.ElementId">@faq.Question</a>
                    </li>
                }
            </ol>
        </div>
        
    </div>
</section>
        
<section class="faq-container bg-gray">
    <div class="container">
        
        @{
            int index = 1;
            foreach (var faq in Model.faqs)
            {
                <div id="@faq.ElementId">
                    <h2>@(index++). @faq.Question</h2>
                    <p>@faq.Answer</p>
                </div>
            }
        }
        
    </div>
</section>

<script>
    
    // This code is to add a smooth scroll when clicking on the faq links
    $(document).ready(function() {
    
        $("a[href*='#']").click(function(event){     
            event.preventDefault();
            $('html,body').animate({
                scrollTop: $(this.hash).offset().top - 130 // 130 offset upwards. This is because our sticky navbar overlays everything and it text that was clicked would be under it which is dumb
            }, 500);
        });
               
        // document ready  
    });
</script>
