@page
@model ChaosInitiative.Web.P2CE.Pages.TeamModel

@{
    ViewData["Title"] = "The Team";
}

<div class="bg-light">
    <div class="container">

        <div class="row d-flex pt-3 pb-3">
            @foreach (var member in Model.TeamMembers)
            {
                var picturePath = $"{member.UserName.ToLower()}.png";
                <div class="col col-12 col-sm-12 col-md-6 flex-grow-1 mb-3" style="min-height: 15rem">
                    <div class="card h-100 border-0">
                        <div class="card-body bg-dark">
                            <div class="h-100 d-flex flex-column">
                                <div class="row flex-grow-1 align-content-start" style="padding-left: 0 !important; padding-right: 0 !important">
                                    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-4 no-gutters">

                                        <img src="~/img/team/@picturePath"
                                             alt="@member.UserName's Profile Picture"
                                             class="w-100"/>

                                    </div>
                                    <div class="col no-gutters ml-lg-3 mt-lg-2">
                                        <h4 style="padding-top: 8px; padding-bottom: 3px; margin-bottom: 0">@member.UserName</h4>
                                        <div style="padding-bottom: 8px" class="d-flex justify-content-start flex-row mt-2">
                                            @foreach (var (type, uri) in member.SocialMediaServices)
                                            {
                                                @if (type == SocialMediaService.Discord)
                                                {
                                                    <a href="https://discord.gg/NcHSmgb" title="@uri" class="mr-1 text-decoration-none">
                                                        <i class="fab fa-@type.ToString().ToLower()" style="padding-top: 1px"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@uri" class="mr-1 text-decoration-none">
                                                        <i class="fab fa-@type.ToString().ToLower()" style="padding-top: 1px"></i>
                                                    </a>
                                                }
                                            }
                                        </div>
                                        <ul style="font-size: 1.2rem; margin-left: 0; padding-left: 16px; margin-top: 4px">
                                            @foreach (var role in member.Roles)
                                            {
                                                <li>@Html.Raw(role)</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
    
<div class="pt-5 pb-5">
    <div class="container">
        
        <h1>Contributors</h1>
        <p>Thanks to our contributors for helping us out with non-engine-coding tasks like asset creation, mapping and more!</p>

        <table class="table table-p2ce-gray">
            <tbody>
            @foreach (var (name, purview) in @Model.Contributors)
            {
                <tr>
                    <td>
                        @name
                    </td>
                    <td>
                        @purview
                    </td>
                </tr>
            }
            </tbody>
        </table>
        
    </div>
</div>
    
<div class="container">
    <h4 class="text-center pt-2 pb-5 text-primary">Portal 2: Communty Edition uses the Chaos Source Engine. More about Chaos Source can be found <a href="https://www.chaosinitiative.com" class="text-primary">here</a>.</h4>
</div>

