@page
@model ChaosInitiative.Web.P2CE.Pages.TeamModel

@{
    ViewData["Title"] = "The Team";
}

<section class="bg-p2ce bg-p2ce-muted">
    <div class="container">

        <div class="row d-flex mb-3">
            @foreach (TeamMember member in Model.TeamMembers)
            {
                string picturePath = $"{member.UserName.ToLower()}.png";
                <div class="col col-12 col-sm-12 col-md-6 flex-grow-1 mb-3" style="min-height: 15rem">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="row h-100">
                                <div class="col col-sm-12 col-md-3">
                                    
                                    <div class="d-flex flex-column h-100">
                                        <div>
                                            <img src="~/img/team/@picturePath"
                                                 alt="@member.UserName's Profile Picture"
                                                 class="w-100"/>
                                        </div>
                                        <div class="mt-auto">
                                            @foreach (KeyValuePair<SocialMediaService, string> socialMedia in member.SocialMediaServices)
                                            {
                                                <a href="@socialMedia.Value" class="ml-2 text-decoration-none">
                                                    <i class="fab fa-@socialMedia.Key.ToString().ToLower()"></i>
                                                </a>
                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <h4>@member.UserName</h4>
                                    <ul>
                                        @foreach (string role in member.Roles)
                                        {
                                            <li>@Html.Raw(role)</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
    
<section class="bg-gray pb-5">
    <div class="container">
        
        <h1>Contributors</h1>
        <p>Thanks to our contributors for helping us out with non-engine-coding tasks like asset creation, mapping and more!</p>

        <table class="table table-p2ce-gray">
            <tbody>
            @foreach (KeyValuePair<string, string> contributor in @Model.Contributors)
            {
                <tr>
                    <td>
                        @contributor.Key
                    </td>
                    <td>
                        @contributor.Value
                    </td>
                </tr>
            }
            </tbody>
        </table>
        
    </div>
</section>
    
<section class="bg-gray">
    <h4 class="text-center pt-2 pb-5 text-primary">P2CE uses the Chaos Source Engine. More about Chaos Source can be found <a href="https://www.chaosinitiative.com" class="text-primary">here</a></h4>
</section>
