@page
@model ChaosInitiative.Web.P2CE.Pages.TeamModel

@{
    ViewData["Title"] = "The Team";
}

<div class="bg-light">
    <div class="container">

        <div class="row d-flex pt-3 pb-3">
            @foreach (TeamMember member in Model.TeamMembers)
            {
                string picturePath = $"{member.UserName.ToLower()}.png";
                <div class="col col-12 col-sm-12 col-md-6 flex-grow-1 mb-3" style="min-height: 15rem">
                    <div class="card h-100 border-0">
                        <div class="card-body bg-dark">
                            <div class="h-100 d-flex flex-column">
                                
                                <div class="row flex-grow-1 align-content-start">
                                    <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-4 no-gutters">

                                        <img src="~/img/team/@picturePath"
                                             alt="@member.UserName's Profile Picture"
                                             class="w-100 rounded-circle"/>

                                    </div>
                                    <div class="col no-gutters ml-lg-3 mt-lg-2">
                                        <h4>@member.UserName</h4>
                                        <ul class="pl-4" style="font-size: 1.2rem">
                                            @foreach (string role in member.Roles)
                                            {
                                                <li>@Html.Raw(role)</li>
                                            }
                                        </ul>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-start flex-row mt-2">
                                    @foreach (KeyValuePair<SocialMediaService, string> socialMedia in member.SocialMediaServices)
                                    {
                                        <a href="@socialMedia.Value" class="mr-1 text-decoration-none">
                                            <i class="fab fa-@socialMedia.Key.ToString().ToLower()"></i>
                                        </a>
                                    }
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
    
<div class="pt-5 pb-5">
    <div class="container">
        
        <h1>Contributors</h1>
        <p>Thanks to our contributors for helping us out with non-engine-coding tasks like asset creation, mapping and more!</p>

        <table class="table table-p2ce-gray">
            <tbody>
            @foreach (KeyValuePair<string, string> contributor in @Model.Contributors)
            {
                <tr>
                    <td>
                        @contributor.Key
                    </td>
                    <td>
                        @contributor.Value
                    </td>
                </tr>
            }
            </tbody>
        </table>
        
    </div>
</div>
    
<div class="container">
    <h4 class="text-center pt-2 pb-5 text-primary">P2CE uses the Chaos Source Engine. More about Chaos Source can be found <a href="https://www.chaosinitiative.com" class="text-primary">here</a></h4>
</div>

