@page
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@{
    Layout = "Shared/_LayoutPaper";
    ViewData["Title"] = "Debugging info";
}

<h2>Debugging</h2>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#debugTable" aria-expanded="false" aria-controls="debugClaimsTable">
    Show meta data
</button>

<div class="collapse mt-5" id="debugTable">
    
    <h3>Claims</h3>
    <table class="table">
        <thead>
        <tr><th>Issuer</th><th>Type</th><th>Value</th></tr>
        </thead>
        <tbody>
        @{
            foreach (Claim claim in User.Claims)
            {
                <tr>
                    <td>@claim.Issuer</td>
                    <td>@claim.Type</td>
                    <td>@claim.Value</td>
                </tr>
            }
        }
        </tbody>
    </table>

    <h3>Identities</h3>
    <table class="table">
        <thead>
        <tr><th>Name</th><th>Label</th><th>NameClaimType</th><th>RoleClaimType</th></tr>
        </thead>
        <tbody>
        @{
            foreach (ClaimsIdentity identity in User.Identities)
            {
                <tr>
                    <td>@identity.Name</td>
                    <td>@identity.Label</td>
                    <td>@identity.NameClaimType</td>
                    <td>@identity.RoleClaimType</td>
                </tr>
            }
        }
        </tbody>
    </table>
    
    <h3>Request headers</h3>
    <table class="table">
        <thead>
        <tr><th>Key</th><th>Value</th></tr>
        </thead>
        <tbody>
        @{
            foreach (var pair in HttpContext.Request.Headers)
            {
                <tr>
                    <td>@pair.Key</td>
                    <td>@pair.Value</td>
                </tr>
            }
        }
        </tbody>
    </table>
    
    <p>GitHub Access Token: @(HttpContext.GetTokenAsync("access_token").Result ?? "None")</p>
</div>
