<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - Chaos Initiative Control Panel</title>
    <partial name="_LayoutHeadPartial"/>
</head>
<body>
<div class="d-flex flex-column h-100">
<nav role="navigation" class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand pl-3 mr-auto" href="/">
        <img src="~/img/chaos_logo_square.png" alt="Chaos Logo" class="d-inline-block align-bottom mr-3" loading="lazy" width="50" height="50"/>
        <span class="h1 m-0">@ViewData["Title"]</span>
    </a>

    <span class="navbar-text pr-3">
        @{
            if (User.Identity.IsAuthenticated)
            {
                <partial name="Partials/IdentityCapsulePartial"/>
            }
            else
            {
                <p>Not logged in</p>
            }
        }
    </span>

</nav>

    <div class="row flex-grow-1 w-100">
        <div class="col col-2 bg-light h-100 p-0">
            <ul class="nav flex-column nav-pills">
                @{

                    Dictionary<string, string> navbar = NavbarControlPanel.GetNavbar();
                    string requestPath = Context.Request.Path.ToString();
                    foreach (KeyValuePair<string, string> pair in navbar)
                    {
                        if (requestPath == pair.Key)
                        {
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="@pair.Key">@pair.Value</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@pair.Key">@pair.Value</a>
                            </li>
                        }
                    }
                }
            </ul>
        </div>

        <div class="col col-8 justify-content-around p-0">
            @RenderBody()
        </div>
    </div>
</div>

</body>
</html>