@using ChaosInitiative.Web.ControlPanel.Model

@if (Game == null)
{
    <h3>No Game Data</h3>
}
else
{

    <div class="card bg-gray">
        <div class="card-body">
            
            <h3 class="card-title">@Game.Name</h3>

            <EditForm Model="@Game">
                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <div class="form-group">
                    <label>Name</label>
                    <InputText class="form-control"
                               placeholder="Name"
                               @bind-Value="@Game.Name"/>
                    <small class="form-text text-muted">This is only for display</small>
                </div>
                
                <div class="form-group">
                    <label>Brand Color</label>
                    <div class="input-group">
                        
                        <div class="input-group-prepend" style="background-color: #@Game.HexColor">
                            <label class="input-group-text">
                                <i class="fas fa-hashtag"></i>
                            </label>
                        </div>
                        <InputText class="form-control"
                                   placeholder="Brand color HEX"
                                   @bind-Value="@Game.HexColor"/>
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>GitHub Repository Owner</label>
                            <InputText @bind-Value="Game.RepositoryOwner"
                                        placeholder="Repository Owner"
                                        class="form-control"/>
                        </div>
                        <div class="col">
                            <label>GitHub Repository Name</label>
                            <InputText @bind-Value="@Game.RepositoryName"
                                        placeholder="Repository Name"
                                        class="form-control"/>
                        </div>
                    </div>
                </div>
            </EditForm>

        </div>
    </div>

}

@code {
    
    [Parameter]
    public Game Game { get; set; }
    
}